<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

<h4>Bravo <%= @user_name %>,</h4>
<p></p>
Vous avez gagné <%= @amount %> F en jouant <%= @game_object %>  sur PARIONS DIRECT.
<p></p>
Numéro de ticket: <%= @ticket_id %>.
<p></p>
<% unless @ref_number.blank? %>
<p></p>
Numéro de Ref.: <%= @ref_number %>.
<p></p>
<% end %>
<% if @amount.to_f > 5000000 %>
NOUS VOUS INVITONS A VOUS RENDRE DANS L'AGENCE LA PLUS PROCHE POUR LE RETRAIT DE VOTRE GAIN.
<p></p>
<h4>CONTINUEZ DE JOUER SUR PARIONS DIRECT ET GAGNEZ DIRECT!</h4>
<% else %>
Votre compte PAYMONEY LONACI: <%= @paymoney_account_number%> vient d'être crédité du montant de votre gain.
<p></p>
<h4>CONTINUEZ DE JOUER SUR PARIONS DIRECT ET GAGNEZ DIRECT!</h4>
<% end %>

</body>
</html>
