<div class="widget">
    <div class="title"><img src="<%= asset_path 'icons/dark/full2.png' %>" alt="" class="titleIcon" /><h6>Liste des paris ALR</h6></div>
    <table cellpadding="0" cellspacing="0" border="0" class="display dTable taskWidget">
      <thead>
        <tr>
          <th>Statut</th>
          <th>N° de Tick.</th>
          <th>N° de Trans.</th>
          <th>Id. Prog.</th>
          <th>Id. Course</th>
          <th>Montant</th>
          <th>Montant des gains</th>
          <th>Détails</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% unless @cm_bets.blank? %>
          <% @cm_bets.each do |bet| %>
            <tr class="gradeA">
              <% css_class = (bet.bet_status == 'En cours' ? 'taskP' : (bet.bet_status == 'Gagnant' ? 'taskPr' : 'taskD')) %>
              <td class = "<%= css_class %>">
                <%= bet.bet_status %>
              </td>
              <td>
                <%= bet.serial_number %>
              </td>
              <td>
                <%= bet.sale_client_id %>
              </td>
              <td>
                <%= bet.program_id %>
              </td>
              <td>
                <%= bet.race_id %>
              </td>
              <td>
                <%= number_with_delimiter(bet.amount) %>
              </td>
              <td>
                <%= number_with_delimiter(bet.win_amount) %>
              </td>
              <td class = "customInfo">
                <span>
                  <strong>Pari pris le </strong> <%= bet.bet_placed_at.strftime("%d-%m-%Y") + " à " + bet.bet_placed_at.strftime("%Hh %Mmn") %>
                </span>
                <% if bet.cancelled %>
                  <span>
                    <strong>Annulé le </strong> <%= bet.cancelled_at.strftime("%d-%m-%Y") + " à " + bet.cancelled_at.strftime("%Hh %Mmn") %>
                  </span>
                <% end %>
                <span>
                  <strong>Date de début </strong> <%= bet.begin_date %>
                </span>
                <span>
                  <strong>Date de fin </strong> <%= bet.end_date %>
                </span>
              </td>

              <td class = "actBtns">
                <a href="<%= gamer_cm_bet_details_path(bet.id) %>" class="tipS" original-title="Détails"><%= image_tag('icons/color/user-black.png', alt: '') %></a>
                <% if bet.bet_status == 'Vainqueur en attente de paiement' %>
                <a href="<%= validate_on_hold_cm_winner_path(bet.id) %>" class="tipS" alt="Valider le paiement" onclick="return confirm('Êtes vous sûr de vouloir valider le paiement?')"><%= image_tag('icons/color/tick.png', alt: '') %></a>
              <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
