<%= form_tag(list_spc_bet_search_path, method: :post, :class => 'form') do %>

  <fieldset>
    <div class="widget">
      <div class="title">
        <img src="<%= asset_path 'icons/dark/full2.png' %>" alt="" class="titleIcon" />
        <h6>Formulaire de recherche</h6>
      </div>

      <div class="formRow">
        <label>Date de début</label>
        <div class="formRight">
          <%= date_field_tag :begin_date, params[:begin_date], start_year: (Date.today.year - 10), end_year: Date.today.year, class: "form-control" %>
        </div>
        <div class="clear"></div>
      </div>

      <div class="formRow">
        <label>Date de fin</label>
        <div class="formRight">
          <%= date_field_tag :end_date, params[:end_date], start_year: (Date.today.year - 10), end_year: Date.today.year, class: "form-control" %>
        </div>
        <div class="clear"></div>
      </div>

      <div class="formRow">
        <label>Statut</label>
        <div class="formRight">
          <%= select_tag "status_id", options_for_select([ "En cours", "Annulé", "Perdant", "Gagnant" ], params[:status_id]), prompt: "Veuillez choisir un statut", class: "form-control" %>
        </div>
        <div class="clear"></div>
      </div>

      <div class="formRow">
        <label>Montant minimum de gains</label>
        <div class="formRight">
          <%= text_field_tag "min_amount", @min_amount, placeholder: "Veuillez choisir le montant minimal de gains", :class => "form-control" %>
        </div>
        <div class="clear"></div>
      </div>

      <div class="formRow">
        <label>Montant maximum de gains</label>
        <div class="formRight">
          <%= text_field_tag "max_amount", @max_amount, placeholder: "Veuillez choisir le montant maximal de gains", class: "form-control" %>
        </div>
        <div class="clear"></div>
      </div>

      <div class="formRow">
        <%= submit_tag "Valider", class: 'basic' %>
      </div>

    </div>
  </fieldset>
<% end %>
