<div class="widget">
  <div class="title"><img src="<%= asset_path 'icons/dark/full2.png' %>" alt="" class="titleIcon" /><h6>Statistiques relatives au PLR</h6></div>
  <table cellpadding="0" cellspacing="0" border="0" class="display dTable taskWidget">
    <thead>
      <tr>
        <th>Statut</th>
        <th>Nombre de paris</th>
        <th>Chiffre d'affaires</th>
        <th>Montant des annulations</th>
        <th>Montant des gains</th>
        <th>Montant des remboursements</th>
      </tr>
    </thead>
    <tbody>
      <tr class="gradeA">
        <td class = "taskP">
          En cours
        </td>
        <td>
          <% on_hold_count = @pmu_plr_bets.where("bet_status = 'En cours'").count %>
          <%= on_hold_count %>
        </td>
        <td>
          <% on_hold_amount = @pmu_plr_bets.where("bet_status = 'En cours'").map{|bet| (bet.bet_cost_amount.to_f rescue 0)}.sum %>
          <%= number_with_delimiter(on_hold_amount) %>
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr class="gradeA">
        <td class = "taskD">
          Annulé
        </td>
        <td>
          <% cancelled_count = @pmu_plr_bets.where("bet_status = 'Annulé'").count %>
          <%= cancelled_count %>
        </td>
        <td>

        </td>
        <td>
          <% cancelled_amount = @pmu_plr_bets.where("bet_status = 'Annulé'").map{|bet| (bet.bet_cost_amount.to_f rescue 0)}.sum %>
          <%= number_with_delimiter(cancelled_amount) %>
        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr class="gradeA">
        <td class = "taskD">
          Perdant
        </td>
        <td>
          <% loosers_count = @pmu_plr_bets.where("bet_status = 'Perdant'").count %>
          <%= loosers_count %>
        </td>
        <td>
          <% loosers_amount = @pmu_plr_bets.where("bet_status = 'Perdant'").map{|bet| (bet.bet_cost_amount.to_f rescue 0)}.sum %>
          <%= number_with_delimiter(loosers_amount) %>
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr class="gradeA">
        <td class = "taskPr">
          Gagnant
        </td>
        <td>
          <% winners_count = @pmu_plr_bets.where("bet_status = 'Gagnant'").count %>
          <%= winners_count %>
        </td>
        <td>
          <% winners_amount = @pmu_plr_bets.where("bet_status = 'Gagnant'").map{|bet| (bet.bet_cost_amount.to_f rescue 0)}.sum %>
          <%= number_with_delimiter(winners_amount) %>
        </td>
        <td>

        </td>
        <td>
          <% win_amount = @pmu_plr_bets.where("bet_status = 'Gagnant' OR bet_status = 'Remboursé'").map{|bet| ((bet.earning_amount.to_f rescue 0) + (bet.refund_amount.to_f rescue 0))}.sum %>
          <%= number_with_delimiter(win_amount) %>
        </td>
        <td>

        </td>
      </tr>
      <tr class="gradeA">
        <td class = "taskPr">
          Remboursé
        </td>
        <td>
          <% refund_count = @pmu_plr_bets.where("bet_status = 'Remboursé'").count %>
          <%= refund_count %>
        </td>
        <td>
          <% refund_amount = @pmu_plr_bets.where("bet_status = 'Remboursé'").map{|bet| (bet.refund_amount.to_f rescue 0)}.sum %>
          <%= number_with_delimiter(refund_amount) %>
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>
          <%= number_with_delimiter(refund_amount) %>
        </td>
      </tr>
      <tr class="gradeA">
        <td>
          <b>Total</b>
        </td>
        <td>
          <b><%= number_with_delimiter(winners_count + loosers_count + cancelled_count + on_hold_count + refund_count) %></b>
        </td>
        <td>
          <b><%= number_with_delimiter(winners_amount + loosers_amount + on_hold_amount + refund_amount) %></b>
        </td>
        <td>
          <b><%= number_with_delimiter(cancelled_amount) %></b>
        </td>
        <td>
          <b><%= number_with_delimiter(win_amount) %></b>
        </td>
        <td>
          <b><%= number_with_delimiter(refund_amount) %></b>
        </td>
      </tr>
    </tbody>
  </table>
</div>
