<div class="widget">
  <div class="title"><img src="<%= asset_path 'icons/dark/full2.png' %>" alt="" class="titleIcon" /><h6>Liste des paris PMU PLR</h6></div>
  <table cellpadding="0" cellspacing="0" border="0" class="display dTable taskWidget">
    <thead>
      <tr>
        <th>Statut</th>
        <th>N° de Réf.</th>
        <th>N° de Tick.</th>
        <th>N° de Trans.</th>
        <th>Montant du pari</th>
        <th>Détails</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% unless @pmu_plr_bets.blank? %>
        <% @pmu_plr_bets.each do |bet| %>
          <tr class="gradeA">
            <% css_class = (bet.bet_status == 'En cours' ? 'taskP' : ((bet.bet_status == 'Gagnant' || bet.bet_status == 'Remboursé') ? 'taskPr' : 'taskD')) %>
            <td class = "<%= css_class %>">
              <%= bet.bet_status %>
            </td>
            <td>
              <%= bet.ref_number %>
            </td>
            <td>
              <%= bet.ticket_number %>
            </td>
            <td>
              <%= bet.transaction_id[0..15] %>...
            </td>
            <td>
              <%= number_with_delimiter(bet.bet_cost_amount) %>
            </td>
            <td class = "customInfo">
              <% if !bet.bet_date.blank? %>
                <span>
                  <strong>Pari pris le </strong> <%= bet.bet_date %>
                </span>
              <% end %>
              <% if !bet.bet_cancelled.blank? %>
                <span>
                  <strong>Annulé le </strong> <%= bet.bet_cancelled_at.strftime("%d-%m-%Y") + " à " + bet.bet_cancelled_at.strftime("%Hh %Mmn") %>
                </span>
              <% end %>
              <% if !bet.begin_date.blank? %>
                <span>
                  <strong>Début de la course </strong> <%= bet.begin_date %>
                </span>
              <% end %>
              <% if !bet.end_date.blank? %>
                <span>
                  <strong>Fermeture de la course </strong> <%= bet.end_date %>
                </span>
              <% end %>
            </td>

            <td class = "actBtns">
              <a href="<%= gamer_pmu_plr_bet_details_path(bet.id) %>" class="tipS" original-title="Détails"><%= image_tag('icons/color/user-black.png', alt: '') %></a>
              <% if bet.bet_status == 'Vainqueur en attente de paiement' %>
                <a href="<%= validate_on_hold_pmu_plr_winner_path(bet.id) %>" class="tipS" alt="Valider le paiement" onclick="return confirm('Êtes vous sûr de vouloir effectuer un paiement total en chèque?')"><%= image_tag('icons/color/bank.png', alt: '') %></a>
                <a href="<%= plr_postponed_winners_path(bet.transaction_id) %>" class="tipS" alt="Paiement partiel en chèque" onclick="return confirm('Êtes vous sûr de vouloir effectuer un paiement partiel en chèque?')"><%= image_tag('icons/color/currency.png', alt: '') %></a>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
