<div class="widget">
  <div class="title"><img src="<%= asset_path 'icons/dark/full2.png' %>" alt="" class="titleIcon" /><h6>Liste des paris Sport cash</h6></div>
  <table cellpadding="0" cellspacing="0" border="0" class="display dTable taskWidget">
    <thead>
      <tr>
        <th width = "10%">Statut</th>
        <th width = "10%">Formule</th>
        <th width = "10%">N° de Tick.</th>
        <th width = "10%">N° de Trans.</th>
        <th width = "15%">Montant</th>
        <th width = "15%">Gain potentiel</th>
        <th width = "10%">Détails</th>
        <th width = "10%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% unless @spc_bets.blank? %>
        <% @spc_bets.each do |bet| %>
          <tr class="gradeA">
            <% css_class = ((bet.bet_status == 'En cours' || bet.bet_status == 'Vainqueur en attente de paiement') ? 'taskP' : (bet.bet_status == 'Gagnant' ? 'taskPr' : 'taskD')) %>
            <td class = "<%= css_class %>">
              <%= bet.bet_status %>
            </td>
            <td>
              <%= bet.formula %>
            </td>
            <td>
              <%= bet.ticket_id %>
            </td>
            <td>
              <%= bet.transaction_id %>
            </td>
            <td>
              <%= number_with_delimiter(bet.amount) %>
            </td>
            <td>
              <%= number_with_delimiter(bet.win_amount) %>
            </td>
            <td class = "customInfo">
              <span>
                <strong>Pari pris le </strong> <%= bet.validated_at.strftime("%d-%m-%Y") + " à " + bet.validated_at.strftime("%Hh %Mmn") %>
              </span>
              <% if bet.cancelled %>
                <span>
                  <strong>Annulé le </strong> <%= bet.cancelled_at.strftime("%d-%m-%Y") + " à " + bet.cancelled_at.strftime("%Hh %Mmn") %>
                </span>
              <% end %>
            </td>

            <td class = "actBtns">
              <a href="<%= gamer_spc_bet_details_path(bet.id) %>" class="tipS" original-title="Détails"><%= image_tag('icons/color/user-black.png', alt: '') %></a>
              <% if bet.bet_status == 'Vainqueur en attente de paiement' %>
                <a href="<%= validate_on_hold_spc_winner_path(bet.id) %>" class="tipS" alt="Valider le paiement" onclick="return confirm('Êtes vous sûr de vouloir effectuer un paiement total en chèque?')"><%= image_tag('icons/color/bank.png', alt: '') %></a>
                <a href="<%= sportcash_postponed_winners_path(bet.transaction_id) %>" class="tipS" alt="Paiement partiel en chèque" onclick="return confirm('Êtes vous sûr de vouloir effectuer un paiement partiel en chèque?')"><%= image_tag('icons/color/currency.png', alt: '') %></a>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
