<!-- Title area -->
<div class="titleArea">
    <div class="wrapper">
        <div class="pageTitle">
            <h5>Profil du parieur</h5>
            <span><%= @gamer.firstname %> <%= @gamer.lastname %></span>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="line mt30"></div>

  <div class="horControlB">
    <ul>
    	<li><a href="javascript:history.go(-1);" title=""><img src="<%= asset_path 'icons/control/16/archives.png' %>" alt=""><span>Retour</span></a></li>
      </ul>
  </div>

<div class="line"></div>

<!-- Main content wrapper -->
<div class="wrapper">
  <%= flash_messages! %>
  <form class = 'form'>

    <fieldset>
      <div class="widget">
        <div class="title">
          <img src="<%= asset_path 'icons/dark/users.png' %>" alt="" class="titleIcon" />
          <h6>Détails du pari - ALR</h6>
        </div>

        <div class="formRow">
          <label>Statut du pari</label>
          <div class="formRight" style = "color:<%= @bet.bet_status == 'En cours' ? 'grey' : (@bet.bet_status == 'Gagnant' ? 'green' : 'red') %>">
            <b><%= @bet.bet_status %></b>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label>Numéro de compte Paymoney</label>
          <div class="formRight">
            <b><%= @bet.paymoney_account_number %></b>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label>N° de transaction</label>
          <div class="formRight">
            <b><%= @bet.sale_client_id %></b>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label>N° de ticket</label>
          <div class="formRight">
            <b><%= @bet.serial_number %></b>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label>Date de prise du pari</label>
          <div class="formRight">
            <b><%= @bet.bet_placed_at.strftime("%d-%m-%Y") rescue "" + " à " + @bet.bet_placed_at.strftime("%Hh %Mmn") rescue "" %></b>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label>Début de l'évènement</label>
          <div class="formRight">
            <b><%= @bet.begin_date %></b>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label>Fin de l'évènement</label>
          <div class="formRight">
            <b><%= @bet.end_date %></b>
          </div>
          <div class="clear"></div>
        </div>

        <% if @bet.bet_status == "Gagnant" %>
          <div class="formRow">
            <label>Raison du gain</label>
            <div class="formRight" style = "color:green">
              <b><%= @bet.win_reason %></b>
            </div>
            <div class="clear"></div>
          </div>
        <% end %>

        <% @wagers = @bet.cm_wagers %>

        <div class="title">
          <img src="<%= asset_path 'icons/dark/users.png' %>" alt="" class="titleIcon" />
          <h6>Liste des paris</h6>
        </div>

        <% unless @wagers.blank? %>
          <% @wagers.each do |wager| %>
            <div class="formRow">
              <label>Nombre d'unités</label>
              <div class="formRight">
                <b><%= wager.nb_units %></b>
              </div>
              <div class="clear"></div>
            </div>

            <div class="formRow">
              <label>Nombre de combinaisons</label>
              <div class="formRight">
                <b><%= wager.nb_combinations %></b>
              </div>
              <div class="clear"></div>
            </div>

            <div class="formRow">
              <label>Formule complète</label>
              <div class="formRight">
                <b><%= wager.full_box == "FALSE" ? "Non" : "Oui" %></b>
              </div>
              <div class="clear"></div>
            </div>

            <div class="formRow">
              <label>Sélection</label>
              <div class="formRight">
                <b><%= wager.selections_string %></b>
              </div>
              <div class="clear"></div>
            </div>

            <div class="formRow">
              <label>Statut</label>
              <div class="formRight">
                <b><%= wager.winner.blank? ? "En cours" : wager.winner %></b>
              </div>
              <div class="clear"></div>
            </div>

            <hr />
          <% end %>
        <% end %>

      </div>
    </fieldset>
  </form>

</div>
<!-- End Main content wrapper -->
