<!-- Title area -->
<div class="titleArea">
    <div class="wrapper">
        <div class="pageTitle">
            <h5>Profil du parieur</h5>
            <span><%= @gamer.firstname rescue "" %> <%= @gamer.lastname rescue "" %></span>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="line mt30"></div>

  <div class="horControlB">
    <ul>
    	<li><a href="javascript:history.go(-1);" title=""><img src="<%= asset_path 'icons/control/16/archives.png' %>" alt=""><span>Retour</span></a></li>
      </ul>
  </div>

<div class="line"></div>

<!-- Main content wrapper -->
<div class="wrapper">
  <%= flash_messages! %>
  <form class = 'form'>

    <fieldset>
      <div class="widget">
        <div class="title">
          <img src="<%= asset_path 'icons/dark/users.png' %>" alt="" class="titleIcon" />
          <h6>Détails du pari - Jeu Digital</h6>
        </div>

        <div class="formRow">
          <label>Opération</label>
          <div class="formRight">
            <b><%= @bet.operation %></b>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label>Statut</label>
          <div class="formRight">
            <b><%= @bet.bet_status %></b>
          </div>
          <div class="clear"></div>
        </div>

        <% unless @bet.game_id.blank? %>
          <div class="formRow">
            <label>Nom du jeu</label>
            <div class="formRight">
              <b><%= EpplGame.find_by_code(@bet.game_id).label rescue nil %></b>
            </div>
            <div class="clear"></div>
          </div>
        <% end %>

        <div class="formRow">
          <label>Numéro de compte Paymoney</label>
          <div class="formRight">
            <b><%= @bet.paymoney_account_number %></b>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label>Numéro de transaction</label>
          <div class="formRight">
            <b><%= @bet.transaction_id %></b>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label>Montant de transaction</label>
          <div class="formRight">
            <b><%= number_with_delimiter(@bet.transaction_amount) %></b>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label>Date</label>
          <div class="formRight">
            <b><%= @bet.bet_placed_at.strftime("%d-%m-%Y") + " à " + @bet.bet_placed_at.strftime("%Hh %Mmn") %></b>
          </div>
          <div class="clear"></div>
        </div>

      </div>
    </fieldset>
  </form>

</div>
<!-- End Main content wrapper -->
