<!-- Title area -->
<div class="titleArea">
    <div class="wrapper">
        <div class="pageTitle">
            <h5>Liste des transactions des Jeux digitaux</h5>
            <span><%= @gamer.firstname %> <%= @gamer.lastname %> | <%= @gamer.uuid %> | <%= @gamer.email %></span>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="line"></div>

  <div class="horControlB">
    <ul>
    	<li><a href="<%=gamer_profile_path(@gamer.id) %>" title=""><img src="<%= asset_path 'icons/control/16/archives.png' %>" alt=""><span>Retour</span></a></li>
      </ul>
  </div>

<div class="line"></div>

<!-- Main content wrapper -->
<div class="wrapper">
  <%= flash_messages! %>
<!-- Widgets -->
  <%= render "eppl_bet_search" %>

  <%= render "eppl_bets_list" %>
</div>
<!-- End Main content wrapper -->
