<!-- Title area -->
<div class="titleArea">
    <div class="wrapper">
        <div class="pageTitle">
            <h5>Liste des paris ALR</h5>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="line"></div>

  <div class="horControlB">
    <ul>
    	<li><a href="javascript:history.go(-1);" title=""><img src="<%= asset_path 'icons/control/16/archives.png' %>" alt=""><span>Retour</span></a></li>
      </ul>
  </div>

<div class="line"></div>

<!-- Main content wrapper -->
<div class="wrapper">
  <%= flash_messages! %>
<!-- Widgets -->
  <%= render "list_cm_bet_search" %>

  <%= render "cm_statistics_form" %>

  <%= render "cm_bets_list" %>
</div>
<!-- End Main content wrapper -->
