<!-- Title area -->
<div class="titleArea">
    <div class="wrapper">
        <div class="pageTitle">
            <h5>Liste des paris LOTO</h5>
            <span><%= @gamer.firstname %> <%= @gamer.lastname %> | <%= @gamer.uuid %> | <%= @gamer.email %></span>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="line"></div>

  <div class="horControlB">
    <ul>
    	<li><a href="javascript:history.go(-1);" title=""><img src="<%= asset_path 'icons/control/16/archives.png' %>" alt=""><span>Retour</span></a></li>
      </ul>
  </div>

<div class="line"></div>

<!-- Main content wrapper -->
<div class="wrapper">
  <%= flash_messages! %>
<!-- Widgets -->
  <div class="widget">
    <div class="title"><img src="<%= asset_path 'icons/dark/full2.png' %>" alt="" class="titleIcon" /><h6>Liste des paris LOTO</h6></div>
    <table cellpadding="0" cellspacing="0" border="0" class="display dTable taskWidget">
      <thead>
        <tr>
          <th>Statut</th>
          <th>N° de Réf.</th>
          <th>N° de Tick.</th>
          <th>N° de Trans.</th>
          <th>Montant</th>
          <th>Mise</th>
          <th>Détails</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% unless @loto_bets.blank? %>
          <% @loto_bets.each do |bet| %>
            <tr class="gradeA">
              <% css_class = (bet.bet_status == 'En cours' ? 'taskP' : (bet.bet_status == 'Gagnant' ? 'taskPr' : 'taskD')) %>
              <td class = "<%= css_class %>">
                <%= bet.bet_status %>
              </td>
              <td>
                <%= bet.ref_number %>
              </td>
              <td>
                <%= bet.ticket_number %>
              </td>
              <td>
                <%= bet.transaction_id %>
              </td>
              <td>
                <%= bet.bet_cost_amount %>
              </td>
              <td>
                <%= bet.basis_amount %>
              </td>
              <td class = "customInfo">
                <span>
                  <strong>Créé le </strong> <%= bet.bet_date %>
                </span>
                <% if bet.bet_cancelled %>
                  <span>
                    <strong>Annulé le </strong> <%= bet.bet_cancelled_at.strftime("%d-%m-%Y") rescue "" + " à " + bet.bet_cancelled_at.strftime("%Hh %Mmn") rescue "" %>
                  </span>
                <% end %>
                <span>
                  <strong>Date de début </strong> <%= bet.begin_date %>
                </span>
                <span>
                  <strong>Date de fin </strong> <%= bet.end_date %>
                </span>
              </td>

              <td class = "actBtns">
                <a href="<%#= gamer_loto_bet_details_path(bet.id) %>" class="tipS" original-title="Détails"><%= image_tag('icons/color/user-black.png', alt: '') %></a>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<!-- End Main content wrapper -->
