<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Nom</Data></Cell>
        <Cell><Data ss:Type="String">Prénom</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Téléphone</Data></Cell>
        <Cell><Data ss:Type="String">Civilité</Data></Cell>
        <Cell><Data ss:Type="String">Sexe</Data></Cell>
        <Cell><Data ss:Type="String">Id-parieur</Data></Cell>
        <Cell><Data ss:Type="String">Compte-Paymoney</Data></Cell>
        <Cell><Data ss:Type="String">Date-de-naissance</Data></Cell>
        <Cell><Data ss:Type="String">Date-de-création</Data></Cell>
        <Cell><Data ss:Type="String">Date-dactivation</Data></Cell>
        <Cell><Data ss:Type="String">Date-de-dernière-connexion</Data></Cell>
      </Row>
    <% @gamers.each do |gamer| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= gamer.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= gamer.firstname %></Data></Cell>
        <Cell><Data ss:Type="String"><%= gamer.lastname %></Data></Cell>
        <Cell><Data ss:Type="String"><%= gamer.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= gamer.msisdn %></Data></Cell>
        <Cell><Data ss:Type="String"><%= (gamer.civility.name rescue nil) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= (gamer.sex.name rescue nil) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= gamer.uuid %></Data></Cell>
        <Cell><Data ss:Type="String"><%= gamer.paymoney_account %></Data></Cell>
        <Cell><Data ss:Type="Date"><%= gamer.birthdate %></Data></Cell>
        <Cell><Data ss:Type="Date"><%= gamer.created_at %></Data></Cell>
        <Cell><Data ss:Type="Date"><%= gamer.confirmed_at %></Data></Cell>
        <Cell><Data ss:Type="Date"><%= gamer.last_connection_date %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
