<!-- Title area -->
<div class="titleArea">
    <div class="wrapper">
        <div class="pageTitle">
            <h5>Profil du parieur</h5>
            <span><%= @gamer.firstname %> <%= @gamer.lastname %></span>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="line mt30"></div>

  <div class="horControlB">
    <ul>
    	<li><a href="javascript:history.go(-1);" title=""><img src="<%= asset_path 'icons/control/16/archives.png' %>" alt=""><span>Retour</span></a></li>
      </ul>
  </div>

<div class="line"></div>

<!-- Main content wrapper -->
<div class="wrapper">
  <%= flash_messages! %>
  <form class = 'form'>

    <fieldset>
      <div class="widget">
        <div class="title">
          <img src="<%= asset_path 'icons/dark/users.png' %>" alt="" class="titleIcon" />
          <h6>Détails du pari - Sport Cash</h6>
        </div>

        <div class="formRow">
          <label>Statut du pari</label>
          <div class="formRight" style = "color:<%= @bet.bet_status == 'En cours' ? 'grey' : (@bet.bet_status == 'Gagnant' ? 'green' : 'red') %>">
            <b><%= @bet.bet_status %></b>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label>Formule</label>
          <div class="formRight">
            <b><%= @bet.formula %></b>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
            <label>Date de prise du pari</label>
            <div class="formRight">
              <b><%= @bet.created_at.strftime("%d-%m-%Y") rescue "" + " à " + @bet.created_at.strftime("%Hh %Mmn") rescue "" %></b>
            </div>
            <div class="clear"></div>
          </div>

        <div class="formRow">
          <label>Début de l'évènement</label>
          <div class="formRight">
            <b><%= @bet.begin_date %></b>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label>Fin de l'évènement</label>
          <div class="formRight">
            <b><%= @bet.end_date %></b>
          </div>
          <div class="clear"></div>
        </div>

        <% if @bet.pr_status %>
          <div class="formRow">
            <label>Montant du gain</label>
            <div class="formRight" style = "color:green">
              <b><%= @bet.win_amount %></b>
            </div>
            <div class="clear"></div>
          </div>

          <div class="formRow">
            <label>Date de paiement des gains</label>
            <div class="formRight" style = "color:green">
              <b><%= @bet.payment_status_datetime.strftime("%d-%m-%Y") rescue "" + " à " + @bet.payment_status_datetime.strftime("%Hh %Mmn") rescue "" %></b>
            </div>
            <div class="clear"></div>
          </div>
        <% end %>

        <div class="formRow">
          <label>Numéro de compte paymoney</label>
          <div class="formRight">
            <b><%= @bet.paymoney_account_number %></b>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label>Identifiant de la transaction</label>
          <div class="formRight">
            <b><%= @bet.transaction_id %></b>
          </div>
          <div class="clear"></div>
        </div>

        <div class="formRow">
          <label>Numéro de ticket</label>
          <div class="formRight">
            <b><%= @bet.ticket_id %></b>
          </div>
          <div class="clear"></div>
        </div>

      </div>
    </fieldset>
  </form>

</div>
<!-- End Main content wrapper -->
